name: Build libnode and Publish

on:
  push:
    tags:
      - "v*"

env:
  LLVM_VERSION: 20

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            type: win
          - os: ubuntu-24.04
            type: linux
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout libnode scripts repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Get Version from NODE_VERSION.txt
        run: |
          NODE_VERSION=$(tr -d '\r' < "${{ github.workspace }}/NODE_VERSION.txt")
          echo "NodeVersion=$NODE_VERSION" >> $GITHUB_ENV
        shell: bash

      - name: Checkout Node.js source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          repository: "nodejs/node"
          ref: ${{ env.NodeVersion }}
          path: "${{ github.workspace }}/node"

      # Github Actions images have python 3.12.x, skip this step

      - name: Install NASM (Windows)
        if: matrix.type == 'win'
        run: choco install nasm

      - name: Update Clang Toolchain (Linux)
        if: matrix.type == 'linux'
        run: |
          sudo apt update
          sudo apt install -y wget gnupg lsb-release
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh ${{ env.LLVM_VERSION }} all
          sudo update-alternatives --install /usr/bin/cc cc /usr/bin/clang-${{env.LLVM_VERSION}} 100
          sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/clang++-${{env.LLVM_VERSION}} 100
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-${{env.LLVM_VERSION}} 100
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-${{env.LLVM_VERSION}} 100
          sudo update-alternatives --install /usr/bin/llvm-cov llvm-cov /usr/bin/llvm-cov-${{env.LLVM_VERSION}} 100
          sudo update-alternatives --install /usr/bin/ld ld /usr/bin/ld.lld-${{env.LLVM_VERSION}} 100

      - name: Install Ninja (Linux)
        if: matrix.type == 'linux'
        run: sudo apt install -y ninja-build

      - name: Export v8 platform symbols (Patch)
        working-directory: ${{ github.workspace }}/node
        run: |
          git apply ../patches/24.x/v8-export.diff

      - name: Reset Node.js rpath (Patch) (Linux)
        if: matrix.type == 'linux'
        working-directory: ${{ github.workspace }}/node
        run: |
          git apply ../patches/24.x/node-rpath-reset.diff

      - name: Build Node.js (Windows)
        if: matrix.type == 'win'
        working-directory: ${{ github.workspace }}/node
        run: |
          ./vcbuild.bat dll x64 release vs2022
        shell: pwsh

      - name: Configure and Build Node.js (Linux)
        if: matrix.type == 'linux'
        working-directory: ${{ github.workspace }}/node
        run: |
          export CC=clang
          export CXX=clang++
          export CXXFLAGS="-stdlib=libc++"
          export LDFLAGS="-stdlib=libc++"
          ./configure --ninja --shared
          make -j$(nproc)

      - name: Packaging
        shell: bash
        run: |
          sh ./scripts/packaging-npm.sh
          sh ./scripts/packaging-${{ matrix.type }}.sh

      # 上传编译结果
      - name: Upload NPM files
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          overwrite: true # 覆盖同名文件
          name: libnode-npm
          path: |
            ${{ github.workspace }}/libnode-npm/

      - name: Upload Bin files
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-${{ matrix.type }}-x64-bin
          path: |
            ${{ github.workspace }}/libnode-${{ matrix.type }}-x64-bin/

      - name: Upload PDB files (Windows)
        uses: actions/upload-artifact@v4
        if: matrix.type == 'win'
        with:
          include-hidden-files: true
          name: libnode-${{ matrix.type }}-x64-pdb
          path: |
            ${{ github.workspace }}/libnode-${{ matrix.type }}-x64-pdb/

      - name: Upload SDK files
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-${{ matrix.type }}-x64-sdk
          path: |
            ${{ github.workspace }}/libnode-${{ matrix.type }}-x64-sdk/

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        type: [win, linux]

    steps:
      - name: Download NPM files
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}
          name: libnode-npm

      - name: Download Bin files
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}
          name: libnode-${{ matrix.type }}-x64-bin

      - name: Download PDB files (Windows)
        if: matrix.type == 'win'
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}
          name: libnode-${{ matrix.type }}-x64-pdb

      - name: Download SDK files
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}
          name: libnode-${{ matrix.type }}-x64-sdk

      - name: Pack Zip Files
        shell: bash
        run: |
          set -eux
          zip -r libnode-npm.zip libnode-npm
          zip -r libnode-${{ matrix.type }}-x64-bin.zip libnode-${{ matrix.type }}-x64-bin
          zip -r libnode-${{ matrix.type }}-x64-sdk.zip libnode-${{ matrix.type }}-x64-sdk
          if [ "${{ matrix.type }}" = "win" ]; then
            zip -r libnode-${{ matrix.type }}-x64-pdb.zip libnode-${{ matrix.type }}-x64-pdb
          fi

      - name: Compute SHA256
        id: sha256sum
        shell: bash
        run: |
          FILES="libnode-${{ matrix.type }}-x64-*.zip"
          [ "${{ matrix.type }}" = "win" ] && FILES="$FILES libnode-npm.zip"
          sha256sum $FILES > SHA256SUMS-${{ matrix.type }}
          echo "SHA=$(cat SHA256SUMS-${{ matrix.type }})" >> $GITHUB_OUTPUT

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          append_body: true
          body: |-
            ```
              ${{ steps.sha256sum.outputs.SHA }}
            ```

          files: |
            libnode-${{ matrix.type }}-x64-*.zip
            libnode-npm.zip
            SHA256SUMS-${{ matrix.type }}
