name: Build LibNode(Windows-MSVC)

on: workflow_dispatch

env:
  NodeVersion: v22.18.0
  PythonVersion: "3.12"

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: "${{ github.workspace }}/libnode_repo"

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: "nodejs/node"
          ref: ${{env.NodeVersion}}

      - name: Setup Python ${{env.PythonVersion}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{env.PythonVersion}}

      - name: Install NASM
        run: choco install nasm

      - name: Environment Information
        run: npx envinfo

      - name: Build
        id: build
        run: |
          vcbuild.bat dll x64 release vs2022
        shell: cmd

      - name: Organize the SDK
        shell: bash
        run: |
          sh ${{ github.workspace }}/libnode_repo/scripts/organize-sdk-win.sh

      - uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-${{ env.NodeVersion }}-x64-win
          path: libnode/
