name: Build libnode(Windows-MSVC)

on:
  workflow_dispatch:
  push:
    paths:
      - .github/**
      - patchs/**
      - scripts/**
      - NODE_VERSION.txt

env:
  PythonVersion: "3.12"

jobs:
  build:
    runs-on: windows-2022
    steps:
      # 检出 libnode 仓库
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      # 从仓库的 NODE_VERSION.txt 文件中获取 Node.js 版本
      - name: Get Version from NODE_VERSION.txt
        run: |
          NODE_VERSION=$(tr -d '\r' < "${{ github.workspace }}/NODE_VERSION.txt")
          echo "NodeVersion=$NODE_VERSION" >> $GITHUB_ENV
        shell: bash

      # 从 Node.js 仓库中检出指定版本的源码
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          repository: "nodejs/node"
          ref: ${{ env.NodeVersion }}
          path: "${{ github.workspace }}/node"

      # 安装 Python
      - name: Setup Python ${{env.PythonVersion}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{env.PythonVersion}}

      # 安装 NASM
      - name: Install NASM
        run: choco install nasm

      # 导出 v8 平台符号
      - name: Export v8 platform symbols
        working-directory: ${{ github.workspace }}/node
        run: |
          git apply ../patches/24.x/v8-export.diff

      # 编译 libnode
      - name: Build
        id: build
        working-directory: ${{ github.workspace }}/node
        run: |
          .\vcbuild.bat dll x64 release vs2022
        shell: pwsh

      - name: Packaging
        shell: bash
        run: |
          sh ./scripts/packaging.sh

      # 上传编译结果
      - uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-win-x64-bin
          path: |
            ${{ github.workspace }}/libnode-win-x64-bin/

      - uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-win-x64-npm
          path: |
            ${{ github.workspace }}/libnode-win-x64-npm/

      - uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-win-x64-pdb
          path: |
            ${{ github.workspace }}/libnode-win-x64-pdb/

      - uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: libnode-win-x64-sdk
          path: |
            ${{ github.workspace }}/libnode-win-x64-sdk/
